dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# Additional files not related to the code
*.pdf
*.pptx
*.dll
*.png
*.jpg
*.ico
*.txt
*.c
*.agent
*.ini
*.exe
*.iss
.dropbox